<!DOCTYPE html>
<html lang="es">
<head>
  <title>Página principal</title>
  <meta charset="UTF-8">
  {% load static%}
  <link rel="stylesheet" href="/staticfiles/style1.css">
  <script src="script.js"></script>
</head>
<header>
  <img id="ImagenHeader" src="/Images/Logof.gif" alt="Header Liverpool">
</header>
<body>
  <div>
    <form action = "proceso" method = "POST">
      {% csrf_token %}
      <input type="tel" id="phone" name="phone" required
      minlength="0" maxlength="30" placeholder="Número de teléfono:">
      <label for="tel">*</label>
      <input type="email" id="email" name="email" required
      minlength="8" maxlength="10" placeholder="Correo electrónico:">
      <label for="email">*</label>
    </form>
  </div>
  <div id="Pregunta">
    ¿Eres un cuentahabiente de la tarjeta Liverpool?
  </div>
  <div>
    <form action = "proceso" method = "POST">
      <input type="radio" id="si" name="si" required size="50">
      <label for="si">Sí</label>
      <input type="radio" id="no" name="no" required size="50">
      <label for="si">No</label>
    </form>
  </div>
  <div>
    <form action="proceso" method="POST">
      <input type="submit" id="continuar" name="continuar" required
      value = "Continuar">
    </form>
  </div>
    
</body>
<footer>Pingüinos Enchilados 2021</footer>
</html>